<div id = "stickerNavbar"> 
    <ul class="list-group">
        <li class="list-group-item"><a>Contact support@reshwap.com regarding sticker inquiries</a></li>
        <li class="list-group-item list-group-item-danger"><a href="/stickers/lookup">Query a sticker number</a></li>
        <li class="list-group-item list-group-item-danger"><a href="/stickers/upload">Upload a new sticker</a></li>
    </ul>
</div>
