<!DOCTYPE html>
<html>
<head>
    <% include ./partials/headInner.ejs %>
</head>

<body id="bootstrap-overrides">
    <header>
        <% include ./partials/navbar %>
    </header>

    <div class="container" id="about">
        <h3 class="bold">Books</h3>

        <% include ./partials/thumbnails.ejs %>

        <% include partials/bootstrapjs %>
</body>
<footer>
    <div class="columnWrapper">
        <div class="secondaryColumnWrapper">
            <div class="column1">
                <h3>Reference</h3>
                <ul>
                    <li><a>How to use Reshwap</a></li>
                    <li><a>About Reshwap</a></li>
                    <li><a>Troubleshooting</a></li>
                </ul>
            </div>

            <div class="column2">
                <h3>Contribute</h3>
                <ul>
                    <li><a>Github page</a></li>
                    <li><a>Contact us on Github</a></li>
                    <li><a>Suggest an improvement</a></li>
                    <li><a>Report a bug</a></li>
                </ul>
            </div>
        </div>

        <p>by Max Drojjin, Matthew Gunton, Eric Cheng, Alper Canberk and Aidan Jalili </p>

        <p>Reshwap 2016-</p>
    </div>
</footer>
</html>
