<!DOCTYPE html>
<html>
<head>
    <% include partials/head %>
</head>

<body id="bootstrap-overrides">
    <header>
        <div class="background">
            <div class="gradient-background">

                <% include partials/header %>

                <div class="landing">
                    <div class="container">
                        <div class="col-md-10">
                            <h1 class="title">A new way to share.</h1>

                            <div class="content">
                                <div class="content-container d-none d-md-block">
                                    <p class="content-container-text display-large" style="opacity: 0.7;">Reshwap connects you with </p>

                                    <ul class="content-container-list display-large">
                                        <li class="content-container-list-item">books</li>
                                        <li class="content-container-list-item">furniture</li>
                                        <li class="content-container-list-item">electronics</li>
                                        <li class="content-container-list-item">your lost belongings</li>
                                    </ul>
                                </div>

                                <div class="d-md-none" style="opacity: 0.7;">
                                    <p class="content-container-text display-large d-md-none">Reshwap connects you with goods and people on campus.<p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container" id="about">
        <div class="row">
            <div class="col-md-8">
                <h3 class="bold">Complete marketplace</h3>

                <p class="display-large">Browse and create offers for electronics, furniture, books, and more. Reshwap is a centralized location to facilitate trade.</p>
            </div>

            <div class="col-md-4">
                <h3 class="bold">Speed</h3>

                <p class="display-large">Reshwap servers are located in New York City, with virtually non-existent downtime and high user capacity.</p>
            </div>

            <!--div class="col-md-4">
                <h3 class="bold">Take a look inside</h3>

                <p class="display-large">For those curious, find us on <a href="https://github.com/thematman7/reshwap_renaissance">GitHub</a>.</p>
            </div-->
        </div>
    </div>

    <!--div class="container" id="updates">
        <div class="jumbotron row">
            <div class="col-md-12">
                <h3 class="lightest">Updates</h3>

            </div>
        </div>
    </div-->

    <div class="container" id="team">
        <div class="row">
            <div class="col-md-12">
                <h3 class="bold">Meet the team</h3>

                <p class="display-large">In beginning: one guy named Max Drojjin '17. Then came front-end developer Eric Cheng '18 and back-end developer Matt Gunton '18 to carry the torch. Now the torch rests in the hands of Alper Canberk '21 and Aidan Jalili '21.</p>
            </div>
        </div>
    </div>

    <% include partials/bootstrapjs %>
</body>

<div class="container">
    <p class="text-center">Reshwap 2018-</p>
</div>
</html>
