<!DOCTYPE html>
<html>

<head>
  <title>RESHWAP</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel = "stylesheet" href = "/css/stylesheet.css"></link>
</head>

<body>
  <h1>Welcome to Reshwap!</h1>

  <%=message%>
  <form method = "POST" action = "/register">
    User:<input name = "user"></input>
    Password: <input name = "password" type = "password"></input>
    <button type = "submit">REGISTER</button>
  </form>
  <a href = "/">BACK TO LOGIN</a>
</body>

</html>
